.custom-details {
  border-radius: 10px;
  border: 1px solid rgba(218, 218, 218, 0.19);
  background: #F2F2F2;
}

.custom-figure {
    margin: 0 0 0rem
}

@media (max-width: 576px) {
.responsive-h1 {
    font-size: 2.2rem;
}
.responsive-h2 {
    font-size: 1.2rem;
}
.responsive-p {
    font-size: 0.9rem;
}
}

@media (min-width: 768px) {
.responsive-h1 {
    font-size: 4.5rem;
}
.responsive-h2 {
    font-size: 3.5rem;
}
.responsive-p {
    font-size: 1.3rem;
}
}

@media (min-width: 992px) {
.responsive-h1 {
    font-size: 5rem; 
}
}

.scaleUp-animation {
    opacity: 0;
    transform: scale(0.89);
    animation: scaleUp 1s forwards;
  }
  
  @keyframes scaleUp {
    to {
      opacity: 1;
    }
  }
