<headerbar />

<main>
    <p class="h2">Bubasauro</p>

    <figure class="figure">
        <img src="" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Propriedade principal Grass</figcaption>
    </figure>

    <ul class="list-group custom-details">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ataque
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Defesa
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Vida
          <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Principal Habilidade
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Peso
            <span class="badge badge-primary badge-pill">69</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Altura
            <span class="badge badge-primary badge-pill">0.7 Metros</span>
          </li>
      </ul>
</main>
