<div class="card custom-card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/pokemon-example.png" class="card-img-top" alt="Imagem do pokemon">
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bulbasaur</h5>
          <p class="card-text">Comentários</p>
          <p class="card-text"><small class="text-muted">Grass</small></p>
          <p class="card-text"><small class="text-muted">Poison</small></p>
        </div>
      </div>
    </div>
  </div>
  