<header> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <img id="pokeball" src="../../../assets/pokebola.png" alt="pokeball">
            <img class="logo" src="../../../assets/logo/logo-softplan.png" alt="logo softplan">
        </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.figma.com/file/bYeksFe0irUZJe9qZPD88P/pokedex?type=design&node-id=0-1&mode=design&t=HKzoPyivWo8qer1L-0">Protótipo</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Minhas-redes
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.linkedin.com/in/zrodrigolimaz/" target="_blank">LinkedIn</a>
                            <a class="dropdown-item" href="https://rodrigolima.tech/"target="_blank">Portfolio pessoal</a>
                        </div>
                    </li>
            </ul>
        </div>
    </nav>
</header>
