/*global styles*/

body {
    background-color: #F8F8F8;
}

main {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

input {
    width: 90%;
    background: none;
    border: none;
    height: 50px;
    flex-shrink: 0;
    outline: none;
}